<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoope.ebikerental">

    <!-- Internet permission for Firebase services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Zoope E-Bike Rental"
        android:theme="@style/LaunchTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase messaging service config -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />

        <!-- Flutter plugin registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
